/*Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ____________CLASS STYLING____________ */

/* social media icons styling */
.social-link {
    @apply inline-block text-xl hover:scale-125 transition-all duration-300
}

/* nav links styling */
.nav-link {
    @apply btn btn-ghost text-xl text-secondary-content hover:text-white transition-all duration-300;
}
.nav-link-mobile {
    @apply btn btn-ghost text-xl text-secondary-content hover:text-white transition-all duration-300 block py-2 px-4
}

/* main link button */
.btn-main {
    @apply bg-secondary text-white font-semibold py-3 px-8 rounded-lg shadow-lg hover:btn-ghost hover:scale-105 transition-all duration-300
}

/* avatar picture styling */
.avatar-styling {
    @apply ring-secondary ring-offset-base-100 w-48 h-48 sm:w-56 sm:h-56 md:w-64 md:h-64 lg:w-72 lg:h-72 overflow-hidden mx-auto rounded-full ring ring-offset-2
}

/* ____________TRANSITIONS____________ */

/* Global fade animation */
.fade-transition {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
  
/* Add this class when the page is ready */
.fade-transition-visible {
opacity: 1;
}

/* Content scroll fade in */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in-visible {
opacity: 1;
}
